# ==========================================
# PostgreSQL
# ==========================================
DB_HOST=postgres
DB_PORT=5432
DB_NAME=sport_data
DB_USER=sport_user
DB_PASSWORD=change_me

# ==========================================
# Redpanda / Kafka
# ==========================================
KAFKA_BOOTSTRAP_SERVER=redpanda:9092

# ==========================================
# Slack
# ==========================================
SLACK_WEBHOOK_URL=

# ==========================================
# Kestra
# ==========================================
KESTRA_USERNAME=admin@kestra.io
KESTRA_PASSWORD=change_me