# ==========================
# Environnement
# ==========================
.venv/
.env
.env.*
!.env.example

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Données sources
# ==========================
data/raw/*.xlsx

# ==========================
# Données générées
# ==========================
data/generated/*.csv
data/processed/*.csv

# ==========================
# Logs
# ==========================
*.log
logs/